<h1>Поставщики</h1>
<div class="row">
  <div class="col-md-6">
    <%= render @providers %>
</div>
</div>

<div class="form-import my-4">
  <h3>Импорт товаров из CSV</h3>
  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" , :class =>'btn btn-primary btn-sm' %>
  <% end %>
</div>

<%= link_to 'Create CSV', create_csv_providers_path, class: 'btn btn-sm btn-outline-success' %>
<%= link_to 'Download CSV', asset_path("ins_detail.csv"), download: "export_insales_#{Time.now}", class: 'btn btn-sm btn-outline-success' %>
