<h1>Поставщик: <%= @provider.name %></h1>
<p>Prefix: <%= @provider.prefix %></p>
<p>Permalink: <%= @provider.permalink %></p>
<p>Link: <%= @provider.link %></p>

<%= link_to 'Импортировать товары поставщика', import_provider_path(@provider), class: 'btn btn-sm btn-outline-success' %>
<%= link_to 'Synchronize', syncronaize_provider_path(@provider), class: 'btn btn-sm btn-outline-success' %>
