<%# if !user_signed_in? %>
<!--<h3>Welcome</h3>-->
<!--<p>This is our app</p>-->
<!--<ul class="form-sign-help">-->
<%# render "layouts/nav_links_for_auth" %>
<!--<li class='nav-item'><%#= link_to 'Войти', new_user_session_path, class: 'nav-link' %></li>-->
<!--</ul>-->
<%# end %>

<% if user_signed_in? %>
<p>Всего товаров: <%=Product.product_all_size %></p>
<p>Больше 0: <%= Product.product_qt_not_null_size %></p>
<% file = "#{Rails.public_path}"+'/export_insales.csv'%>
<% if File.file?(file) %>
<% size = File.size(file) %>
<p>Файл инсалес:
<p>размер - <%= number_to_human_size(size)%>; дата - <%=File.ctime(file).in_time_zone('Moscow').strftime("%d/%m/%Y %H:%M" ) %></p>
<p><%= link_to 'Скачать файл', "/export_insales.csv", download: "export_insales_#{Time.now}.csv", class: 'dropdown-item' %></p>
<p>
  <%= link_to 'Ошибки Update', "/errors_update.txt", download: "errors_update.txt", class: 'dropdown-item' %>
</p>

    <!--<p><a href="/export_insales.csv">Скачать файл</a> </p>-->
<%end%>

<%# if Rails.cache.read('file_qt_update') != nil %>
<%# end %>

<%# file_ost = "#{Rails.public_path}"+'/ost.xlsx' #+Date.today.in_time_zone('Moscow').strftime("%d_%m_%Y").to_s+'.xlsx'%>
<%# if File.file?(file_ost) %>
<!--<p>Остатки обновлялись в - <%#= File.ctime(file_ost).in_time_zone('Moscow').strftime("%d/%m/%Y %H:%M" ) %></p>-->
<%# end %>

<div class="row mb-2 mr-0 ml-0 align-items-center">
</div>
<% end %>

