<div class="row mb-2 mr-0 ml-0 align-items-center">
  <div class="col-3">
    <h3>Товары поставщика МБ</h3>
    <span class="align-middle"><small>Всего: <%= Mb.product_all_size %></small></span>
    <span class="align-middle"><small>Отфильтровано: <%=@mbs.count%></small></span>
    <span class="align-middle"><small>Больше 0: <%= Mb.where("quantity > 0").size %></small></span>
    <span class="align-middle"><small>Синхронизируется: <%= Mb.where.not(productid_product: nil).size %></small></span>
  </div>
  <div class="col- mr-1">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Действия
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%#= link_to 'Полный цикл (1 + 2 + 3 + создание CSV)', import_linking_syncronaize_mbs_path, class: 'dropdown-item'%>
        <%= link_to 'Импортировать товары поставщика', import_mbs_path, class: 'dropdown-item'%>
        <%= link_to 'Линковать Товары с Товарами поставщика', linking_mbs_path, class: 'dropdown-item'%>
        <%= link_to 'Синхронизировать остатки и цены', syncronaize_mbs_path, class: 'dropdown-item'%>
        <div class="dropdown-divider"></div>
      </div>
    </div>
  </div>
  <div class="col- mr-1">
    <%#= link_to '<span class="oi oi-pencil"></span>'.html_safe, edit_multiple_products_path, class: 'btn btn-secondary', id: 'edit_multiple', remote: true, data: { toggle: 'modal', 'target': '#modal-edit' } %>
    <%#= link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_products_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true%>
  </div>
  <div class="col- ">
    <%= search_form_for @search, html: {class: 'form-inline'}  do |f|%>
      <%= f.search_field :id_eq, placeholder: 'ID', class: "form-control input-sm"%>
      <%= f.search_field :title_cont, placeholder: 'Название', class: "form-control input-sm"%>
      <%= f.collection_select :brend_cont, Mb.all.select(:brend).uniq, :brend, :brend, {include_blank: 'Бренд'} , class: "form-control input-sm" , style: "max-width: 150px;" %>
      <%#= f.collection_select :brend_cont, Mb.all, "brend", "brend", {include_blank: false, prompt: 'Бренд'} , class: "form-control input-sm" , style: "max-width: 150px;" %>
      <%= f.search_field :quantity_eq, placeholder: 'Остаток: =', class: "form-control input-sm"%>
      <%= f.search_field :quantity_gt, placeholder: 'Остаток: >=', class: "form-control input-sm"%>
      <%= f.search_field :vendorcode_eq, placeholder: 'Код производителя', class: "form-control input-sm"%>
      <%#= f.select :quantity_in, [['= 0', 0],['> 0', 1]], { include_blank: false, prompt: 'Кол-во'}, class: "form-control input-sm"  %>
      <div class="form-group ml-2 button_group">
        <% f.submit 'Поиск', class: 'btn btn-info' %>
        <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
        <%= link_to '<span class="oi oi-reload"></span>'.html_safe, mbs_path, class: 'btn btn-outline-dark' %>
        <%#= link_to '<span class="oi oi-list"></span>'.html_safe, mbs_path(params.permit(:mbs).merge(selected_mbs: @mbs.pluck(:id), otchet_type: 'selected')), title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark'%>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed table-sm">
    <thead class="thead-light">
    <tr>
      <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
      <th>ID</th>
      <th>ID в таблице Товаров</th>
      <th>Название</th>
      <th>Актульность</th>
      <th>Остаток</th>
      <th>Цена</th>
<!--      <th>Available</th>-->
<!--      <th>Ссылка</th>-->
<!--      <th>Валюта</th>-->
<!--      <th>Категория</th>-->
      <th>Описание</th>
      <th>Код производителя</th>
      <th>Barcode</th>
      <th>Страна</th>
      <th>Бренд</th>
      <th>Параметры</th>
      <th>Картинки</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody id="products_table">
    <% @mbs.each do |product| %>
      <tr class="<%= 'sync' if product.productid_product.present? %>">
        <td><%=check_box_tag "product_ids[]", product.id%></td>
        <td><%= product.id %></td>
        <td><%= product.productid_product %></td>
        <td><%= link_to product.title, product.link, target: '_blank' %></td>
<!--        <td><%#= product.fid %></td>-->
        <td><%= product.check ? 'был' : 'не был' %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
<!--        <td><%#= product.available ? "true" : "false" %></td>-->
<!--        <td><%#= product.link %></td>-->
<!--        <td><%#= product.currencyid %></td>-->
<!--        <td><%#= product.cat %></td>-->
        <td><%= product.desc.truncate(25) if product.desc != nil %></td>
        <td><%= product.vendorcode %></td>
        <td><%= product.barcode %></td>
        <td><%= product.country %></td>
        <td><%= product.brend %></td>
        <td><%= product.param.truncate(25) if product.param != nil  %></td>
        <td class="row ml-0 mr-0"><% product.pict.split(' ').each do |pict| %><div class="w-25"><img class="img-thumbnail" src="<%= pict %>"></div><% end %></td>
        <td><%= link_to '<span class="oi oi-eye"></span>'.html_safe, product %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, product, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination mt-4 mb-4">
  <%= will_paginate @mbs %>
</div>


