
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <%= f.input :title , wrapper_html: { class: "col-md-6" } %>
    <%= f.input :sku  ,  wrapper_html: { class: "col-md-2" } %>
    <%= f.input :skubrand , wrapper_html: { class: "col-md-2" } %>
    <%= f.input :barcode , wrapper_html: { class: "col-md-2" } %>
    <%= f.input :sdesc , wrapper_html: { class: "col-md-12" } %>
    <%= f.input :desc , wrapper_html: { class: "col-md-12" } %>
    <%= f.input :cat , wrapper_html: { class: "col-md-12" } %>
    <%= f.input :charact , wrapper_html: { class: "col-md-12" } %>
    <%= f.input :costprice , wrapper_html: { class: "col-md-3" } %>
    <%= f.input :price , wrapper_html: { class: "col-md-3" } %>
    <%= f.input :quantity, wrapper_html: { class: "col-md-3" } %>
    <%= f.input :weight , wrapper_html: { class: "col-md-3" } %>
    <%= f.input :image , wrapper_html: { class: "col-md-12" } %>
    <%= f.input :url , wrapper_html: { class: "col-md-12" } %>
  </div>

  <div class="form-actions mt-4">
    <%= f.button :submit , class: "btn btn-outline-success" %>
    <%= link_to 'Back', products_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
