
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <span class="col-12">
       Название: <strong><%= @product.title %></strong>
    </span>

    <span class="col-md-2">
      Артикул Товара в InSales: <strong><%= @product.sku %></strong>
    </span>
    <span class="col-md-2">
      Цена продажи: <strong><%= @product.price %></strong>
    </span>
    <span class="col-md-2">
      Закупочная цена: <strong><%= @product.provider_price %></strong>
    </span>

    <span class="col-md-2">
      ID Товара в InSales: <strong><%= @product.productid_insales %></strong>
    </span>
    <span class="col-md-2">
      ID Варианта Товара в InSales: <strong><%= @product.productid_var_insales %></strong>
    </span>

    <span class="col-md-2">
      Видимость: <strong><%= @product.visible ? "выстален" : "скрыт" %></strong>
    </span>

    <span class="col-md-2">
<!--      Остаток: <strong><%#= @product.quantity %></strong>-->
      <%= f.input :quantity, label: 'Остаток:' %>
    </span>

    <span class="col-12 editable">
      <%= f.input :provider_id,:collection => Provider.all,:label_method => :name, :value_method => :id, :label => "Поставщики" , :include_blank => "Выберите",  wrapper_html: { class: "col-md-4" } %>
      <%= f.input :productid_provider, label: 'ID товара в таблице поставщика',  wrapper_html: { class: "col-md-4" } %>
    </span>

    <span class="col-12">
      Описание: <%= @product.desc %>
    </span>
    <span class="col-12">
      Категория: <strong><%= @product.cat %></strong>
    </span>

    <% if @product.url.present? %>
      <div class="col-md-2">
        <%= link_to 'Товар в InSales', @product.url , class: "d-flex align-items-center", target: 'blank' %>
      </div>
    <%end%>
  </div>

  <% if @product.image.present? %>
    <div class="row ml-0 mr-0">
      <% @product.image.split(' ').each do |pict| %>
        <div class="w-25">
          <img class="img-fluid img-thumbnail" src="<%= pict %>">
        </div>
      <% end %>
    </div>
  <%end%>

  <div class="form-actions mt-4">
    <%= f.button :submit , class: "btn btn-outline-success" %>
    <%= link_to 'Back', products_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

