<div class="row mb-1">
  <div class="col-2">
    <h1>Товары</h1>
  </div>
  <div class="col-3">
    <span class="align-middle"><small>Всего: <%= Product.product_all_size %></small></span>
    <span class="align-middle"><small>Отфильтровано: <%=@products.count%></small></span>
    <span class="align-middle"><small>Больше 0: <%= Product.product_qt_not_null_size %></small></span>
  </div>
  <div class="col-2">
    <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Действия
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Обновить каталог', import_products_path, class: 'dropdown-item'%>
    </div>
    </div>
  </div>
  <div class="col-3">
    <%= link_to "Редактировать", edit_multiple_products_path, class: 'btn btn-secondary', id: 'edit_multiple', remote: true, data: { toggle: 'modal', 'target': '#modal-edit' } %>
    <%= link_to 'Удаление', delete_selected_products_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true%>
  </div>
</div>

<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead class="thead-light">
    <tr>
      <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
      <th>Sku</th>
      <th style="width:250px;">Title</th>
      <th>Desc</th>
      <th>Cat</th>
      <th>Charact</th>
      <th>Charact gab</th>
      <th>Oldprice</th>
      <th>Price</th>
      <th>Quantity</th>
      <th style="width:250px;">Image</th>
      <th>Url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="products_table">
    <% @products.each do |product| %>
      <tr>
        <td><%=check_box_tag "product_ids[]", product.id%></td>
        <td><%= product.sku %></td>
        <td><%= link_to product.title, edit_product_path(product) %></td>
        <td><%= product.desc.truncate(25) if product.desc != nil%></td>
        <td><%= product.cat %></td>
        <td><%= product.charact.truncate(25) if product.charact != nil %></td>
        <td><%= product.charact_gab %></td>
        <td><%= product.oldprice %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td class="row ml-0 mr-0"><% product.image.split(' ').each do |pict| %><div class="w-25"><img class="img-fluid img-thumbnail" src="<%= pict %>"></div><% end %></td>
        <td><% if product.url.present? %><%= link_to 'Товар у поставщика', product.url , target: 'blank' %><%end%></td>
        <td><%= link_to '<span class="oi oi-eye"></span>'.html_safe, product %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, product, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination mt-4 mb-4">
    <%= will_paginate @products %>
</div>
