<div class="row mb-1 mr-0 ml-0 align-items-center">

<!--  <div class="col-12">-->
<!--    <div class="form-import">-->
<!--      <h3>Обновить каталог</h3>-->
      <%#= form_tag import_products_path, multipart: true do %>
        <%#= file_field_tag :file %>
        <%#= submit_tag "Import" , :class =>'btn btn-primary btn-sm' %>
      <%# end %>
<!--    </div>-->
<!--  </div>-->

  <div class="col-3">
    <h3>Товары</h3>
    <div class="form-import">
      <%= form_tag import_products_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" , :class =>'btn btn-primary btn-sm' %>
      <% end %>
    </div>
    <span class="align-middle"><small>Всего: <%= Product.product_all_size %></small></span>
    <span class="align-middle"><small>Отфильтровано: <%=@products.count%></small></span>
    <span class="align-middle"><small>Больше 0: <%= Product.product_qt_not_null_size %></small></span>
  </div>

  <div class="col- mr-1">
    <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Действия
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Сформировать файл', create_csv_products_path, class: 'dropdown-item'%>
      <%= link_to 'Скачать файл', "/export_insales.csv", download: "export_insales_#{Time.now}.csv", class: 'dropdown-item' %>
      <%= link_to 'Обновить каталог', import_insales_xml_products_path, class: 'dropdown-item'%>
    </div>
    </div>
  </div>
  <div class="col- mr-1">
    <%#= link_to '<span class="oi oi-pencil"></span>'.html_safe, edit_multiple_products_path, class: 'btn btn-secondary', id: 'edit_multiple', remote: true, data: { toggle: 'modal', 'target': '#modal-edit' } %>
    <%#= link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_products_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true%>
  </div>
  <div class="col- ">
    <%= search_form_for @search, html: {class: 'form-inline'}  do |f|%>
        <%= f.search_field :sku_or_title_cont, placeholder: 'Артикул, Название', class: "form-control input-sm"%>
        <%= f.collection_select :provider_id_eq, Provider.all, :id, :name, {include_blank: 'Поставщики'} , class: "form-control input-sm" , style: "max-width: 150px;" %>
        <%#= f.collection_select :cat_cont, Product.product_cat, "cat", "cat", {include_blank: false, prompt: 'Категория'} , class: "form-control input-sm" , style: "max-width: 150px;" %>
        <%= f.search_field :quantity_eq, placeholder: 'Остаток: >=', class: "form-control input-sm" %>
        <%= f.search_field :productid_provider_eq, placeholder: 'ID продукта у поставщика', class: "form-control input-sm" %>
        <%#= f.select :quantity_in, [['= 0', 0],['> 0', 1]], { include_blank: false, prompt: 'Кол-во'}, class: "form-control input-sm"  %>
      <div class="form-group ml-2 button_group">
        <%# f.submit 'Поиск', class: 'btn btn-info' %>
        <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
        <%= link_to '<span class="oi oi-reload"></span>'.html_safe, products_path, class: 'btn btn-outline-dark' %>
        <%#= link_to '<span class="oi oi-list"></span>'.html_safe, products_path(params.permit(:products).merge(selected_products: @products.pluck(:id), otchet_type: 'selected')), title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark'%>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead class="thead-light">
    <tr>
      <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
      <th>Sku</th>
      <th>Поставщик</th>
      <th>ID поставщика</th>
      <th style="width:250px;">Title</th>
      <th>Desc</th>
<!--      <th>Cat</th>-->
      <th>Видимость</th>
<!--      <th>Артикул товара у поставщика</th>-->
      <th>Цена поставщика</th>
<!--      <th>Oldprice</th>-->
      <th>Цена продажи</th>
      <th>Остаток</th>
      <th style="width:250px;">Image</th>
      <th>Карточка товара</th>
<!--      <th colspan="1"></th>-->
    </tr>
  </thead>

  <tbody id="products_table">
    <% @products.each do |product| %>
      <tr class="<%= 'sync' if product.productid_provider.present? %>">
        <td><%=check_box_tag "product_ids[]", product.id%></td>
        <td><%= product.sku %></td>
        <td><%= product.provider&.name %></td>
        <td><%= product.productid_provider %></td>
        <td><%= link_to product.title, edit_product_path(product) %></td>
        <td><%= product.desc.truncate(25) if product.desc != nil%></td>
<!--        <td><%#= product.cat %></td>-->
        <td><%= product.visible ? "выставлен" : "скрыт" %></td>
<!--        <td><%#= product.product_sku_provider %></td>-->
        <td><%= product.provider_price %></td>
<!--        <td><%#= product.oldprice %></td>-->
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td class="row ml-0 mr-0">
          <% if product.image.present? %>
            <% product.image.split(' ').each do |pict| %>
              <div class="w-25">
                <img class="img-thumbnail" src="<%= pict %>">
              </div>
            <% end %>
          <% end %>
        </td>
        <td><% if product.url.present? %><%= link_to '<span class="oi oi-eye"></span>'.html_safe, product.url , target: 'blank' %><%end%></td>
<!--        <td><%#= link_to '<span class="oi oi-eye"></span>'.html_safe, product %></td>-->
<!--        <td><%#= link_to '<span class="oi oi-trash"></span>'.html_safe, product, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination mt-4 mb-4">
    <%= will_paginate @products %>
</div>
