<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "C44kz" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "C44kz" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" crossorigin="anonymous" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    </header>
    <main role="main" class="container-fluid mb-5">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <% if user_signed_in? %>
    <footer class="text-muted bg-light pt-3 pb-3 mt-auto">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>c44kz <a href="http://c44.kz" target="_blank">Visit us</a></p>
      </div>
    </footer>
    <% end %>
  </body>
</html>
